#session
	%h1 Sign in

	= form_for :session, :url => session_path do |form|
		%fieldset
			%label{for: 'session[email]'}
				Email
				= form.text_field :email
		
			%label{for: 'session[email]'}
				Password
				= form.password_field :password

		%p.submit_field= form.submit "Sign in", :disable_with => "Please wait...", :class => 'button'

	.action
		%h3 Not a subscriber?
		%ul
			%li= link_to "Start Monitoring Today", sign_up_path
			%li= link_to "See Plans & Pricing", plans_path
		%h3 Need help?
		%ul
			%li= link_to "Forgot password?", new_password_path

