#user
	%h1 Sign Up

	= form_for @user do |f|
		= f.hidden_field :email_confirmed, :value => true
		%h2 Personal Information
		%label{for: 'user[first_name]'}
			First Name
			= f.text_field :first_name
		%label{for: 'user[last_name]'}
			Last Name
			= f.text_field :last_name
		%h2 Account Information
		%label{for: 'user[email]'}
			Email
			= f.text_field :email
		%label{for: 'user[password]'}
			Password
			= f.password_field :password
		%p= f.submit 'SIGN UP', :class => 'button'

	.action
		%h3 Features You'll Love
		%ul
			%li Hourly URL Monitoring
			%li Support for SSL
			%li 
				Content Validation:
				%ul.validation
					%li CSS Selector
					%li XPath

