= content_for :title, 'New URL'
= content_for :nav do
	%li= link_to 'Domains', domains_path, class: 'sites icon current'
	%li= link_to 'Account', account_path, class: 'account icon'

#site= render partial: 'new'
