%tr
	%td= site.url
	%td= site.email
	%td= status_for site
	%td
		= link_to_function 'edit', "jQuery('#site_#{site.id}').dialog({modal:true,title:'Edit Site',width:'600px'})", :class => 'button wrench'
		= link_to 'delete', site, :confirm => "Are you sure you want to delete #{site.url}? There is no undo.", :method => :delete, :class => 'button trash'
		.modal{:id => "site_#{site.id}", :style => 'display:none'}
			= form_for site do |f|
				%table{:cellpadding => 0, :cellspacing => 0, :border => 0}
					%tr
						%td= f.label :url
						%td= f.text_field :url
					%tr
						%td= f.label :email
						%td= f.text_field :email
					%tr
						%td= f.label :css_selector
						%td= f.text_field :css_selector, :id => "css_selector_#{dom_id(site)}", :onfocus => "jQuery('#xpath_#{dom_id(site)}').val(null)"
					%tr
						%td= f.label :xpath
						%td= f.text_field :xpath, :id => "xpath_#{dom_id(site)}", :onfocus => "jQuery('#css_selector_#{dom_id(site)}').val(null)"
				%p= f.submit 'UPDATE SITE', :class => 'button'
