!!!
%html
	%head
		%title 
			uptimetry -
			= yield(:title)
		%script{:src => "http://www.google.com/jsapi?key=ABQIAAAAPxTP6_umMHWyfMXHRo_PQBSEfduqM-1DVSJvrAuG-sXMl3D3XxRzHgplRb-82VvQp6BVNPn5n6zyAQ", :type => "text/javascript"}
		%link{:rel => "stylesheet", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/eggplant/jquery-ui.css", :type => "text/css"}
		= stylesheet_link_tag 'application'
		= csrf_meta_tag
		%script{ :type => "text/javascript", :src => "https://js.stripe.com/v1/"}
		%script{ :type => "text/javascript"}
			Stripe.setPublishableKey("#{ENV['STRIPE_PUBLIC']}");
		= javascript_include_tag 'application'
		%script{:type => "text/javascript"}
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-4535281-5']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

%body
	- if cookies[:'heroku-nav-data']
		= raw HerokuAddon.nav
    
	#header
		%ul#menu
			%li#logo
				= link_to 'up • tīm • e • try', root_path
				%div -noun
				%p the practice or profession of examining the health and well-being of a website
			= yield(:nav)
	
	#content
		#errors= render(partial: 'layouts/flash', locals: { errors: flash[:alert] }) if flash[:alert]
		= yield
	
	#footer
		- if signed_in?
			%p= link_to 'SIGN OUT', sign_out_path
			
		© Copyright 2012 Migrant Studios. All Rights Reserved.
		%br
		Uptimetry is a trademark of Migrant Studios
