!!!
%html
	%head
		%title 
			uptimetry -
			= yield(:title)
		%script{:src => "http://www.google.com/jsapi?key=ABQIAAAAPxTP6_umMHWyfMXHRo_PQBSEfduqM-1DVSJvrAuG-sXMl3D3XxRzHgplRb-82VvQp6BVNPn5n6zyAQ", :type => "text/javascript"}
		%link{:rel => "stylesheet", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/eggplant/jquery-ui.css", :type => "text/css"}
		= stylesheet_link_tag 'public'
		= csrf_meta_tag
		%script{ :type => "text/javascript", :charset => "utf-8"}
			google.load("jquery","1.4.2");
			google.load("jqueryui","1.8.2");
		%script{ :type => "text/javascript", :charset => "utf-8"}
			jQuery.noConflict();
			jQuery(document).ready( function() {
			jQuery('.button.trash').button({icons:{primary:'ui-icon-trash'},text:false});
			jQuery('.button.wrench').button({icons:{primary:'ui-icon-wrench'},text:false});
			jQuery('.button').button();
			jQuery('.datepicker').datepicker();
			});
		%script{:type => "text/javascript"}
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-4535281-5']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

%body
	#header
		#menu
			%ul
				%li#logo
					= link_to 'up • tīm • e • try', root_path
					%div -noun
					%p the practice or profession of examining the health and well-being of a website
	
	- if flash[:notice]
		.ui-state-highlight
			%span{:style => "float: left; margin-right: 0.3em;", :class => 'ui-icon ui-icon-info'}
			= flash[:notice]
	- if flash[:alert]
		.ui-state-error
			%span{:style => "float: left; margin-right: 0.3em;", :class => 'ui-icon ui-icon-alert'}
			= flash[:alert]
		
	#content
		= yield
	
	#footer
		© Copyright 2012 Migrant Studios LLC. All Rights Reserved.
		%br
		Uptimetry is a trademark of Migrant Studios LLC
